@model OrderViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Masa-Sipariş Yönetimi</h1>

<hr />
<div class="col-md-12 row">
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ürün Adı</th>
                    <th>Fiyatı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.ProductID</td>
                        <td>@product.ProductName</td>
                        <td>@product.UnitPrice.ToString("C2")</td>
                        <td colspan="2"><a asp-action="AddTab" asp-controller="Order" asp-route-productId="@product.ProductID" asp-route-tableId="@Model.Order.TableId" class="btn btn-primary">Adisyona Ekle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div>
                <input asp-for="Order.EmployeeId" type="hidden" />
                <div class="form-group">
                    <label asp-for="Order.TableId" class="control-label"></label>
                    <input asp-for="Order.TableId" class="form-control" />
                    <span asp-validation-for="Order.TableId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.OrderDate" class="control-label"></label>
                    <input asp-for="Order.OrderDate" class="form-control" />
                    <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
                </div>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ürün Adı</th>
                            <th>Adedi</th>
                            <th>Toplam Fiyatı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tab in Model.TabManager.Tabs)
                        {
                            <tr>
                                <td>@tab.ID</td>
                                <td>@tab.Name</td>
                                <td>@tab.Quantity</td>
                                <td>@tab.SubPrice.ToString("C2")</td>
                                <td><a asp-action="AddTab" asp-controller="Order" asp-route-productId="@tab.ID" asp-route-tableId="@(Model.Order.TableId)" class="btn btn-primary">+</a></td>
                                <td><a asp-action="DeleteTab" asp-controller="Order" asp-route-id="@tab.ID" asp-route-tableId="@(Model.Order.TableId)" class="btn btn-danger">-</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.TabManager.TabsDictionary.Count > 0)
                {
                    <a asp-action="OrderCheckout" asp-controller="Order" asp-route-tableId="@Model.Order.TableId" class="btn btn-success">Siparişi Tamamla</a>
                }

            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

