@model TableViewModel

@{
    ViewData["Title"] = "TableList";
}

<h1>TableList</h1>
<h4>Table</h4>

<hr />
<div class="container">
    <div class="row col-md-12">
        <div class="col-md-4 m-3>
            @foreach (var table in Model.Tables)
            {
                if (table.Status)
                {
                    <div class="card" style="width: 18rem;">
                        <h4 class="card-header" style="background-color: indianred">Masa @table.TableID</h4>
                        <div class="card-body">
                            <h5 class="card-title">@table.Status</h5>
                            <p class="card-text">Sandalye Sayısı: @table.ChairCount</p>
                            <a href="#" class="btn btn-primary">Seç</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card" style="width: 18rem;">
                        <h4 class="card-header" style="background-color: aquamarine">Masa @table.TableID</h4>
                        <div class="card-body">
                            <h5 class="card-title">@table.Status</h5>
                            <p class="card-text">Sandalye Sayısı: @table.ChairCount</p>
                            <a asp-action="List" asp-controller="Orders" asp-route-tableId="@table.TableID" class="btn btn-primary">Seç</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
