<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
</head>
<body style="height:100%;">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" >Company Restaurant</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.ActionLink("Index","Home")">Anasayfa</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @RenderSection("UserInfo", required:false)
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.ActionLink("Logout","Auth")">Çıkış Yap</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row" style="height:100%;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-md-2" style="width: 200px; display:inline-block; vertical-align:top; overflow:auto;">
            <a href="@Url.ActionLink("TableList","Order")" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"></svg>
                <span class="fs-4">Sipariş Yönetimi</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item disabled">
                    <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                        Ürün Yönetimi
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                        Stok Yönetimi
                    </a>
                </li>
                <li>
                    <a href="@Url.ActionLink("TableManager","Table")" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"></svg>
                        Masa Yönetimi
                    </a>
                </li>
                <li>
                    @RenderSection("AdminPanel", required: false)
                </li>
            </ul>
            <hr>
        </div>

        <div class="col-md-9">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>