@model ListProductsViewModel
@{
    ViewData["Title"] = "ListProducts";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast text-white bg-success shadow" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Sistem Mesajı</strong>
                <small>@DateTime.Now.ToString("dddd, MM/dd/yyyy H:mm")</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["SuccessMessage"].ToString()
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast text-white bg-danger shadow" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Sistem Mesajı</strong>
                <small>@DateTime.Now.ToString("dddd, MM/dd/yyyy H:mm")</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["ErrorMessage"].ToString()
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
}
<br />
<h1>Ürünler</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Kategori</th>
            <th>Birim Fiyatı</th>
            <th>Restaurant Stok</th>
            <th>Depo Stok</th>
            <th>Satış Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products.Entity)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.CategoryName</td>
                <td>@product.UnitPrice.ToString("C2")</td>
                <td>@product.UnitsInRestaurantStock</td>
                <td>@product.UnitsInWarhouseStock</td>
                <td>@(product.Discontinued == false ? "Satışa Açık" : "Satışa Kapalı")</td>
                <td><a asp-action="DiscontinuedProduct" asp-route-id="@product.ProductID" asp-route-statu="@product.Discontinued" class="btn @(product.Discontinued == false? "btn-danger" : "btn-success")  btn-sm">@(product.Discontinued == false? "Satışa Kapat": "Satışa Aç")</a></td>
                <td><a asp-action="ProductDetail" asp-route-id="@product.ProductID" class="btn btn-primary btn-sm">Ürün Detayı</a></td>
            </tr>
        }
    </tbody>
</table>
